<div>
    <nav class="navbar navbar-dark navbar-expand-md bg-info text-body fixed-top">

        <!-- Title/Home Link -->
        <div class="container-fluid">
            <a class="navbar-brand text-dark" href="#">STL8 Problem Solve</a>

            <!-- Navbar Toggle Buton -->
            <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div id="collapsibleNavbar" class="collapse navbar-collapse">

                <!-- Main Navigation -->
                <ul class="navbar-nav nav-pills">
                    <li class="nav-item">
                        <button id="nav-submit" class="nav-link text-light active" onclick="navToSubmitForm()">Submit Counts</button>
                    </li>
                    <li class="nav-item">
                        <button id="nav-wash" class="nav-link text-light" onclick="navToWash()">View Wash</button>
                    </li>
                    <li class="nav-item">
                        <button id="nav-assign" class="nav-link text-muted disabled">Floor Assignments</a>
                    </li>
                </ul>

                <!-- Authentication Navigation -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <button id="sign-in" class="nav-link text-muted disabled">Sign In</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div