#wash {
    background-color: rgb(63, 56, 74);
}

#building {
    background-color: rgb(140, 100, 170);
}

#west {
    background-color: rgb(120, 100, 135);
}

#east {
    background-color: rgb(120, 100, 135);
}

.sos {
    background-color: #0093f5;
}

.eos {
    background-color: rgb(235, 172, 0);
}