<div class="container text-light text-center">
    <div id="wash" class="container justify-content-center rounded-lg my-5 pb-3">
        <h1>Problem Solve Wash [Date]</h1>

        <!-- Building Totals -->
        <div id="building" class="container rounded mb-3">
            <h2>Building Totals</h2>
            <div class="row">
                <div class="col">
                    <div class="sos container rounded-sm mb-3 pb-3">
                        <h3>SOS</h3>
                        <div class="container col">
                            <div class="row text-body bg-white">
                                <div class="col">
                                    <div class="row border border-dark">
                                        <div class="col">
                                            Problem Solve
                                        </div>
                                    </div>
                                    <div class="row border border-dark">
                                        <div class="col">
                                            ###
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row border border-dark">
                                        <div class="col">
                                            Damages
                                        </div>
                                    </div>
                                    <div class="row border border-dark">
                                        <div class="col">
                                            ###
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row border border-dark">
                                        <div class="col">
                                            Non-con
                                        </div>
                                    </div>
                                    <div class="row border border-dark">
                                        <div class="col">
                                            ###
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row bg-white text-body">
                                <div class="col border border-dark">
                                    Total
                                </div>
                                <div class="col border border-dark">
                                    ###
                                </div>
                                <div class="col border border-dark">
                                    Escalation
                                </div>
                                <div class="col border border-dark">
                                    ###
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="eos container rounded-sm mb-3 pb-3">
                        <h3>EOS</h3>
                        <div class="container col">
                            <div class="row text-body bg-white">
                                <div class="col">
                                    <div class="row border border-dark">
                                        <div class="col">
                                            Problem Solve
                                        </div>
                                    </div>
                                    <div class="row border border-dark">
                                        <div class="col">
                                            ###
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row border border-dark">
                                        <div class="col">
                                            Damages
                                        </div>
                                    </div>
                                    <div class="row border border-dark">
                                        <div class="col">
                                            ###
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row border border-dark">
                                        <div class="col">
                                            Non-con
                                        </div>
                                    </div>
                                    <div class="row border border-dark">
                                        <div class="col">
                                            ###
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row bg-white text-body">
                                <div class="col border border-dark">
                                    Total
                                </div>
                                <div class="col border border-dark">
                                    ###
                                </div>
                                <div class="col border border-dark">
                                    Escalation
                                </div>
                                <div class="col border border-dark">
                                    ###
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- West Side Counts -->
        <div id="west" class="container rounded mb-3">
            <h2>West Side</h2>

            <!-- Start of Shift -->
            <div class="row">
                <div class="col">
                    <div class="sos container rounded-sm my-3">
                        <h3>SOS</h3>
                        <div class="row text-body">

                                <div id="a01wsos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A01</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="a02wsos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A02</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="a03wsos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A03</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="a04wsos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A04</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- End of Shift -->
            <div class="row">
                <div class="col">
                    <div class="eos container rounded-sm my-3">
                        <h3>EOS</h3>
                        <div class="row text-body">
                                <div id="a01weos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A01</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="a02weos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A02</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="a03weos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A03</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="a04weos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A04</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <!-- East Side Counts -->
        <div id="east" class="container rounded">
            <h2>East Side</h2>
            <!-- Start of Shift -->
            <div class="row">
                <div class="col">
                    <div class="sos container rounded-sm my-3">
                        <h3>SOS</h3>
                        <div class="row text-body">
                                <div id="a01esos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A01</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="a02esos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A02</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="a03esos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A03</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="a04esos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A04</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- End of Shift -->
            <div class="row">
                <div class="col">
                    <div class="eos container rounded-sm my-3">
                        <h3>EOS</h3>
                        <div class="row text-body">
                                <div id="a01eeos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A01</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="a02eeos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A02</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="a03eeos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A03</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="a04eeos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                <h4>A04</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Damages
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Total
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>