<p>ps-wash works</p>
<div>
    <div id="wash">

        <!-- Building Totals -->
        <div id="building">
            <div class="sos"></div>
            <div class="eos"></div>
        </div>

        <!-- West Side Counts -->
        <div id="west">
            <!-- Start of Shift -->
            <div class="sos">
                <div id="a01wsos"></div>
                <div id="a02wsos"></div>
                <div id="a03wsos"></div>
                <div id="a04wsos"></div>
            </div>
            <!-- End of Shift -->
            <div class="eos">
                <div id="a01weos"></div>
                <div id="a02weos"></div>
                <div id="a03weos"></div>
                <div id="a04weos"></div>
            </div>
        </div>

        <!-- East Side Counts -->
        <div id="east">
            <!-- Start of Shift -->
            <div class="sos">
                <div id="a01esos"></div>
                <div id="a02esos"></div>
                <div id="a03esos"></div>
                <div id="a04esos"></div>
            </div>
            <!-- End of Shift -->
            <div class="eos">
                <div id="a01eeos"></div>
                <div id="a02eeos"></div>
                <div id="a03eeos"></div>
                <div id="a04eeos"></div>
            </div>
        </div>
    </div>
</div>