<p>ps-wash works</p>
<div class="container text-light text-center">
    <div id="wash" class="container justify-content-center">
        <h1>Problem Solve Wash [Date]</h1>

        <!-- Building Totals -->
        <div id="building" class="container my-3">
            <h2>Building Totals</h2>
            <div class="row">
                <div class="col">
                    <div class="sos">
                        <h3>SOS</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="eos col">
                        <h3>EOS</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- West Side Counts -->
        <div id="west" class="container my-3">
            <h2>West Side</h2>
            <!-- Start of Shift -->
            <div class="row">
                <div class="col">
                    <div class="sos container my-3">
                        <h3>SOS</h3>
                        <div class="row text-body">
                            <div class="col">
                                <div id="a01wsos" class="bg-white">
                                    <h4>A01</h4>
                                </div>
                            </div>
                            <div class="col">
                                <div id="a02wsos" class="bg-white">
                                    <h4>A02</h4>
                                </div>
                            </div>
                            <div class="col">
                                <div id="a03wsos" class="bg-white">
                                    <h4>A03</h4>
                                </div>
                            </div>
                            <div class="col">
                                <div id="a04wsos" class="bg-white">
                                    <h4>A04</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Shift -->
            <div class="row">
                <div class="col">
                    <div class="eos container my-3">
                        <h3>EOS</h3>
                        <div class="row text-body">
                                <div id="a01weos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                 <h4>A01</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Damages
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Total
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="a02weos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                 <h4>A02</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Damages
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Total
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="a03eos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                 <h4>A03</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Damages
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Total
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="a04weos" class="col">
                                    <div class="container mb-3 bg-white">
                                        <div class="row">
                                            <div class="col border border-dark">
                                                 <h4>A04</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Problem Solve
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Damages
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Noncon
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Total
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9 border border-dark">
                                                 Escalation
                                            </div>
                                            <div class="col border border-dark">
                                                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <!-- East Side Counts -->
        <div id="east" class="container my-3">
            <h2>East Side</h2>
            <!-- Start of Shift -->
            <div class="sos">
                <div id="a01esos"></div>
                <div id="a02esos"></div>
                <div id="a03esos"></div>
                <div id="a04esos"></div>
            </div>
            <!-- End of Shift -->
            <div class="eos">
                <div id="a01eeos"></div>
                <div id="a02eeos"></div>
                <div id="a03eeos"></div>
                <div id="a04eeos"></div>
            </div>
        </div>
    </div>
</div>