#wash {
    background-color: #232f3e;
}

#building {
    background-color: #f3a847;
}

#west {
    background-color: #ffffff;
}

#east {
    background-color: #ffffff;
}

.sos {
    background-color: #146eb4;
}

.eos {
    background-color: #ff9900;
}

.differential {
    background-color: #232f3e;
}