<div class="container-fluid p-5">
    <form>
        <!--problem solve-->
        <div class="form-row form-group">
            <div class="btn-group-vertical col-6">
                <button class="btn btn-success btn-outline-dark text-light">Problem Solve Container (+1)</button>
                <button class="btn btn-success btn-outline-dark text-light">Problem Solve Stack (+5)</button>
                <button class="btn btn-success btn-outline-dark text-light">Problem Solve Pallet (+30)</button>
            </div>
            <div class="col-3 mx-auto">
                <label for="ps">Problem Solve</label>
                <input id="ps" type="text" class="form-control" style="width: 80px">
            </div>
        </div>

        <!-- damages -->
        <div class="form-row form-group">
            <div class="btn-group-vertical col-6">
                <button class="btn btn-success btn-outline-dark text-light">Damage Container (+1)</button>
                <button class="btn btn-success btn-outline-dark text-light">Damage Stack (+5)</button>
                <button class="btn btn-success btn-outline-dark text-light">Damage Pallet (+30)</button>
            </div>
            <div class="col-3 mx-auto">
                <label for="dmg">Damages</label>
                <input id="dmg" type="text" class="form-control" style="width: 80px">
            </div>
        </div>

        <!-- noncon -->
        <div class="form-row form-group">
            <div class="btn-group-vertical col-6">
                <button class="btn btn-success btn-outline-dark text-light">Non-Con Container (+1)</button>
                <button class="btn btn-success btn-outline-dark text-light">Non-Con Stack (+5)</button>
                <button class="btn btn-success btn-outline-dark text-light">Non-Con Pallet (=30)</button>
            </div>
            <div class="col-3 mx-auto">
                <label for="nc">Non-Con</label>
                <input id="nc" type="text" class="form-control" style="width: 80px">
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col-4 mx-auto">
                <input id="ps-count-submit" type="submit" value="Submit Count" class="form-control btn-outline-dark btn-info text-light">
            </div>
        </div>
    </form>
</div>